.home{

    background-image: url('../Assets/comingsoon.jpg') ;
    width: 83.1%;
    display: flex;
    justify-content:center;
    align-items: center;
        justify-content:space-around;
    height: 100%;
        margin-left: 17.5%;

    position: fixed;
    

}
@media all and (max-width :1260px) {
    .home{
width: 100%;  
 margin-inline: -0.01%;
 margin-top:80px ;
 padding-bottom: 80px;
  }
  
  

}
@media all and (max-width :1130px) {
    .image{
display: none;
  }
  .text h3{
    font-weight: 400;
    line-height: normal;
    max-width: 100%;
   
    font-size: 2%;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: .1vw;
    
}
  
}
h1{
    margin-inline: 2%;
}
.btn{
    width: 200px;
    height: 50px;
    margin-inline: 2%;
}
.text{
    flex: 6;
    color: white;
    margin-bottom: 90px;
    margin-left: 3%;
    
}
.ban{
    padding-top: 70px;
        margin-left: 30px;
         padding-left: 30px;

}
.text h3{
       color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 90%;
   
    font-size: 110%;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: .1vw;
    text-align: justify;
    
}
.image{
    flex: 3;
   

}